h1,h2{
    text-align: center;
    color: $titulo;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: $ptext;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}

label{
    color: $ptext;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}